<h1>Directorio Corral</h1>
   Desarrollado por:
     
    <address>
    <strong>Ing. David Israel Raygoza Ramirez</strong><br>
    <strong>Linkedin: </strong> <a href="http://lnkd.in/z9XAvq">http://lnkd.in/z9XAvq </a><br />
     <strong>Email </strong><a href="mailto:david.raygoza.ramirez@gmail.com">david.raygoza.ramirez@gmail.com</a>
    </address>