<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dependency.name %>
</p>



<%= link_to 'Modificar', edit_dependency_path(@dependency), :class=>'btn btn-mini '%>
<%= link_to 'Regresar', dependencies_path, :class=>'btn btn-mini '%>